*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.small-circle{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 45vw;
    width: 45vw;
    background-color:#fff;
}
.home img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.circle{
    height: 70vw;
    width: 70vw;
    /* background-color: #fff; */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top{
    height: 100%;
    width: 100%;
    position: absolute;
   
}
.top img{
    transform: translate(-50%,-50%) rotate(-180deg);
}
.btm{
    height: 100%;
    width: 100%;
    position: absolute;
    
}
.btm img:nth-child(1){
    transform: translate(-50%,-50%) scale(2);
}
.btm img:nth-child(2){
    transform: translate(-50%,-50%) scale(1.5);
}
.btm img:nth-child(3){
    transform: translate(-50%,-50%) scale(1);
}
.top img:nth-child(1){
    transform: translate(-50%,-50%) rotate(-180deg) scale(2);
}
.top img:nth-child(2){
    transform: translate(-50%,-50%) rotate(-180deg) scale(1.5);
}
.top img:nth-child(3){
    transform: translate(-50%,-50%) rotate(-180deg) scale(1);
}
.nav{
    color: #000;
    z-index: 9;
    position: absolute;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    padding: 1rem 5rem;
}
.nav h1{
    line-height: 1;
}
.right-nav{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 8vh;
    width: 20%;
  

}
.palate-div{
    display: flex;
    height: 20%;
    width: 60%;
    align-items: center;
    justify-content: center;

}
.nav-para{
    font-size: 0.8rem;
    font-weight: 100;
    opacity: 0.8;
    
}
.shade1{
    background-color: #c9c9c9;
    height: 100%;
    width: 10%;
}
.shade2{
    background-color: #9b9b9b;
    height: 100%;
    width: 10%;
}
.shade3{
    background-color: #808080;
    height: 100%;
    width: 10%;
}
.shade4{
    background-color: #565656;
    height: 100%;
    width: 10%;
}
.shade5{
    background-color: #434343;
    height: 100%;
    width: 10%;
}
.shade6{
    background-color: #000000;
    height: 100%;
    width: 10%;
}
.btm-nav{
    
    z-index: 999;
    position: absolute;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   bottom: 0;
    /* background-color: red; */
    padding: 1rem 5rem;
}
.btm-nav img{
    width: 100px;
    
}
.centerimg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    width: 30vw;
}
.centerimg h5{
    margin-bottom: 8px;
    font-weight: 400;
}
.centerimg h5:nth-child(1){
    margin-bottom: 18px;
}
.centerimg .cimage{
    width: 100%;
    height: 15vw;
    position: relative;
}
.cimage img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}

.overlay > h1.btm-text1{
    font-size: 10rem;
    font-weight: 400;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,0%);
    line-height: 1;
    pointer-events: none;
    z-index: 99999;
    letter-spacing: 0.2rem;
}
.moving-circle{
    position: absolute;
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    z-index: 999999;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #d5a7b4;
}
#white img{
  opacity: 0;
}
.overlay > h1.btm-text2{
    font-size: 10rem;
    font-weight: 400;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%,0%) rotate(30deg);
    line-height: 1;
    pointer-events: none;
    z-index: 99999;
    letter-spacing: 0.2rem;
    

    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,232,238,1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform-origin: 0% 50%;

}
.moving-box{
    position: absolute;
    width: 25vw;
    background-color: #d5a7b4;
    left: 0%;
    top: 120%;
  
    padding: 3rem 2rem;
    color: #fff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.moving-box h4{
    font-size: 0.7rem;
    font-weight: 400;
}
.val-text1{
    margin-left: 1.5rem;
    margin-top: 1rem;
  
}
.val-text2{
    font-size: 1rem;
    width: 100%;
    margin-top: 2rem;
    font-weight: 200;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.second{
    position: relative;
    height: 100vh;
    width: 100%;
}
.sec-nav{
    color: #000;
    z-index: 9;
    position: absolute;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    padding: 1rem 5rem;
}
.sec-nav h1{
    line-height: 1;
}
.sec-right-nav{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 8vh;
    width: 20%;
  

}
.sec-palate-div{
    display: flex;
    height: 20%;
    width: 60%;
    align-items: center;
    justify-content: center;

}
.sec-nav-para{
    font-size: 0.8rem;
    font-weight: 100;
    opacity: 0.8;
    
}
.sec-shade1{
    background-color: #c9c9c9;
    height: 100%;
    width: 10%;
}
.sec-shade2{
    background-color: #9b9b9b;
    height: 100%;
    width: 10%;
}
.sec-shade3{
    background-color: #808080;
    height: 100%;
    width: 10%;
}
.sec-shade4{
    background-color: #565656;
    height: 100%;
    width: 10%;
}
.sec-shade5{
    background-color: #434343;
    height: 100%;
    width: 10%;
}
.sec-shade6{
    background-color: #000000;
    height: 100%;
    width: 10%;
}
.sec-btm-nav{
    
    z-index: 999;
    position: absolute;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   bottom: 0;
    /* background-color: red; */
    padding: 1rem 5rem;
}
.sec-btm-nav img{
    width: 100px;
}
.sec-top{
    position: relative;
    width: 100%;
    height: 65%;
    border-bottom: 1px solid #dadada;
    overflow: hidden;

}

.shape1{
    z-index: 999999;
    left: 0%;
    top: 100%;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #ad8a94;
}
.shape2{
    z-index: 999999;
    top: 110%;
    left: 20%;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #cbabb4;
    /* margin-top: 2rem; */
}
.shape3{
    z-index: 999999;
    top: 120%;
    left: 40%;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #b69fa6;
    /* margin-top: 4rem; */
}
.shape4{
    z-index: 999999;
    top: 130%;
    left: 60%;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #e5bac6;
    /* margin-top: 6rem; */
}
.shape5{
    z-index: 999999;
    top:140%;
    left: 80%;
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: #e8cad2;
    /* margin-top: 8rem; */
}
.sec-btm{
    width: 100%;
    height: 35%;
    position: relative;

}
.circles{
    position: absolute;
   
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    top: 150%;
   
    transform: translate(-50%,-50%);
}
.sec-top .purple{
    left: 45%;
    background-color: #b4aab5;
}
.sec-top .pink{
    left: 55%;
    background-color:#d5a7b4 ;
    
}
.sec-top h1{
    position: absolute;
    font-size: 20rem;
    font-weight: 100;
    bottom: 0%;
    line-height: 1;
    left: 100%;
    z-index: 999999;
    color: #fff;
}
.sec-btm p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
    font-weight: 900;
    line-height: 1;
    text-align: center;
}
.sec-btm p:nth-child(2){
    opacity: 0;
}

@media(max-width:550px){
  
    .nav{
        padding: 1rem 1rem;
    }
    .right-nav{
        width: 60%;
    }
    .palate-div {
        width: 60%;
        margin-left: 8rem;
      }
      .nav-para{
        font-size: 0.6rem;
        margin-left: 8rem;
      }
    
    .centerimg{
        width: 80vw;
        left: 50%;
    }
    .centerimg .cimage{
        height: 50vw;
    }
    .centerimg h5:nth-child(1){
        margin-bottom: 10px;
    }
    .btm-nav{
        padding: 1rem 1rem;
    }
    .moving-box{
        width: 80vw;
    }
    .val-text2{
        font-size: 0.8rem;
    }
    .overlay > h1.btm-text1{
        font-size: 4rem;
        font-weight: 500;
        bottom: 25%;
    }
    .overlay > h1.btm-text2{
        font-size: 4rem;
        font-weight: 500;    
        margin-bottom: 6rem;
     
       
    }
    .sec-nav{
        padding: 1rem 1rem;
    }
    .sec-right-nav{
        width: 60%;
    }
    .sec-palate-div {
        width: 60%;
        margin-left: 8rem;
      }
      .sec-nav-para{
        font-size: 0.6rem;
        margin-left: 8rem;
      }
      .sec-btm-nav{
        padding: 1rem 1rem;
    }
      .sec-btm p {
        font-size: 1.5rem;
        width: 80%;
      }
      .circles{
        height: 34vw;
        width: 34vw;
      }
      .sec-top h1{
        font-size: 7rem;
      }
}